.parallax-nav {
.main-nav-container {
	background-color:  #222727;
	// padding-top: 2vh !important;
	// padding-bottom: 2vh !important;
	.main-nav {
		font-weight: 900;
		font-size: 1.2em;
		a {
			transition: 0.3s ease-in-out;
			color: rgb(255, 255, 255) !important;
			&:hover {
				transition: 0.3s ease-in-out;
				color: rgb(100, 197, 181) !important;
			}
		}
	}
}
.social-nav {
	color: white !important;
	span {
		i {
			transition: 0.5s ease-in-out;
			&:hover {
				transition: 0.3s ease-in-out;
				color: goldenrod !important;
			}
		}
	}
}
}