.youtube-container {
    .youtube-title {
        font-size: 1em;
        font-weight: 600;
        color: goldenrod;
    
    }
    .youtube-featured {
        background-color: goldenrod;
    }
    .youtube-player {
        width: auto !important;
        height: 40vh !important;
    }
}