.youtube-container {
    .youtube-title {
        font-size: 1.1em;
        font-weight: 900;
        color: rgb(255, 255, 255);
    
    }
    .youtube-featured {
        // background-color: rgb(126, 19, 19);
    }
    .youtube-player {
        height: 25vh !important;
        width: auto !important;
    }
}