.landing-container {
	width: 100%;
	overflow-x: hidden;
	.merch-row {
		background-color: #222727;
	}
	.image-div {

		.header-image {
            display: flex;
            // border-radius: 5px;
            object-fit: cover;
            // min-width: 100% !important;
		}
	}
}
